// ---- DEFAULT THEME ---- //
.theme-main-dark {
  --bg-main: #36325d;

  --bg-contrast-100: #2f3039;
  --bg-contrast-200: #3a4c59;

  --nav-color: #12101c;
  --nav-icons: white;

  --primary: #307ae0;
  --primary-light: #57acdc;

  --color: white;
}

// ---- DEFAULT LIGHT ---- //
.theme-main-light {
  // change. just testing
  --bg-main: #fafafa;

  --bg-contrast-100: #e2e0e2;
  --bg-contrast-200: #99999c;

  --nav-color: #040d20;
  --nav-icons: black;

  --primary: #307ae0;
  --primary-light: #57acdc;

  --color: black;
}

.themed {
  span,
  text,
  h1,
  h2,
  h3,
  h4,
  h4,
  h6,
  div {
    color: var(--color);
  }
}
