// :root {
.theme-main-dark {
  --bg-main: #36325d;

  --bg-contrast-100: #2f3039;
  --bg-contrast-200: #3a4c59;
  --bg-contrast-300: #444157;
  --bg-contrast-400: #47435d;

  --nav-color: #12101c;
  --nav-icons: white;

  --primary: #307ae0;
  --primary-light: #57acdc;

  --color: white;
}

.theme-main-light {
  // change. just testing
  --bg-main: #ffffff;

  --bg-contrast-100: #d0d2cd;
  --bg-contrast-200: #f2f7ed;
  --bg-contrast-300: #415748;
  --bg-contrast-400: #0f5d59;

  --nav-color: dodgerblue;
  --nav-icons: rgb(0, 0, 0);

  --primary: #ff7d03;
  --primary-light: #57acdc;

  --color: rgb(6, 6, 6);
}

.themed {
  color: var(--color);
}
// }
